<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impressum</title>
</head>
<body>
  <h1>Impressum</h1>
  <p>Angaben gemäss § 5 TMG</p>
  <p>
    <strong>Firma FinnTennis</strong><br>
    Limmatplatz 152<br>
    8820 Zürich<br>
  </p>
  <p>
    <strong>Vertreten durch:</strong><br>
    Beda Brunner<br>
  </p>
  <p>
    <strong>Kontakt:</strong><br>
    Telefon: +41 77 527 31 36<br>
    E-Mail: finn.domeisen@edu.tbz.ch<br>
  </p>
  <p>
    <strong>Umsatzsteuer-ID:</strong><br>
    Umsatzsteuer-Identifikationsnummer gemäss §27 a Umsatzsteuergesetz: DE123456789<br>
  </p>
  <p>
    <strong>Aufsichtsbehörde:</strong><br>
    Musteraufsichtsbehörde<br>
  </p>
</body>
</html>